@model List<Client>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://i.pinimg.com/564x/2a/c5/60/2ac560c628f1577e6db6ade2117ce828.jpg" alt="logo" style="width:250px"/>
    <h1 class="display-4" style="font-family:Georgia">MyRestaurant</h1>
    <h6 style="font-family:'Montserrat'">RESERVATIONS MADE EASY</h6>
    <div class="row">
        <div class="col-md-6">
            <a href="../Home/Signin"> Sign in</a>
        </div>
        <div class="col-md-6">
            <a href="../Home/Signup"> Sign up</a>
        </div>
    </div>
</div>
