@model Client

@{
    ViewBag.Title = "Sign in";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="container register" style="height:2000px">
        <div class="row">
            <div class="col-md-5 register-left">
                <img src="https://images.unsplash.com/photo-1554679665-f5537f187268?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80&fbclid=IwAR28W4Yw47xHCDZ69nW4yY16WLQ8rchbr_OwQFkTPjsmHzUHnhcGjiDdz-U" alt="" />
                
                
            </div>
            <div class="col-md-7 register-right">
                
                <h3 style="height:30px">Welcome back!</h3>
                <p>
                    Sign in to make your next reservation
                    <br />
                </p>
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link " id="home-tab" data-toggle="tab" href="../Home/Signup" role="tab" aria-controls="home" aria-selected="true">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="../Home/Signin" role="tab" aria-controls="profile" aria-selected="false">Sign in</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <h3 class="register-heading">Login</h3>
                        <div class="row register-form">
                            <div class="col-md-7">
                                <div class="form-group w-100">
                                    EMAIL :
                                    @Html.TextBoxFor(e => e.email, new { @class = "form-control", placeholder = "Your Email *" })
                                    @Html.ValidationMessageFor(e => e.email)
                                </div>
                                <br/>
                                <div class="form-group w-100">
                                    PASSWORD : @Html.PasswordFor(e => e.password, new { id = "password", @class = "form-control", placeholder = "Password *" })
                                    <span id="result"></span>
                                </div>
                                <br/>
                                <div class="col-md-6">
                                    <input type="submit" class="btnLogin btn btn-dark" value="Login"/>
                                </div>
                                <br/>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

}   

if (ViewBag.NotFound == true)
    {
    }
else
{

}