@model dynamic

    @using (Html.BeginForm("Sign", "Admin", FormMethod.Post))
    {
        <div class="container register" style="height:2000px">
            <div class="row">
                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row register-form">

                        <div class="col-md-6 justify-content-lg-center">
                            <div class="form-group">
                                ADMIN PASSWORD :
                                <input type="text" name="code" class="form-control">
                            </div>
                            <br/>
                            <div class="col-md-6">
                                <input type="submit" class="btnLogin btn btn-dark" value="Connect"/>
                            </div>
                        </div>
                        
                        <div class="col-md-3 w-25">
                            <img src="https://th.bing.com/th/id/OIP.ff4w8R1J4ClVMU2nFc1H_gHaIF?pid=ImgDet&rs=1">

                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        
    }