@model List<Restaurant>

@{
    ViewData["Title"] = "Home Page";
}




 
    
    
@* ou bien 
<div class="row">
    @foreach (var r in Model){
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@r.Name</h5>
                    <img  src=@r.image alt=@r.Name>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        </div>
    }

</div>
*@ 
<div class="row">
    @foreach (var r in Model){
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@r.Name</h5>
                    <img src=@r.image alt=@r.Name class="card-img">
                    @Html.ActionLink("detail","restaurant_detail","Restaurant",new {Id=@r.Id})
                </div>
            </div>
        </div>
    }

</div>
