@model List<Restaurant>

@{
    ViewData["Title"] = "Home Page";
}



<div id="carouselExampleControls" class="carousel slide w-50 h-50" style="margin: auto;" data-bs-ride="carousel">
    <div class="carousel-inner">
        @for (int i = 0 ; i<Model.Count ; i++)
        {
            if (i==0) {
            <div class="carousel-item active ">
                    <img src=@Model[i].image alt=@Model[i].Name class="w-100">
            </div>}
            else
            {
                <div class="carousel-item">
                    <img src=@Model[i].image alt=@Model[i].Name  class="w-100">
                </div>
            }
        }
    </div>
   
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>
 
    
    
@* ou bien 
<div class="row">
    @foreach (var r in Model){
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@r.Name</h5>
                    <img  src=@r.image alt=@r.Name>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        </div>
    }

</div>
*@ 
<div class="row">
    @foreach (var r in Model){
        <div class="col-sm-3 p-3" >
            <div class="card align-content-around" style="height: 380px;">
                <img class="card-img-top" src=@r.image alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@r.Name</h5>
                    <h6 class="card-title">@r.Localization</h6>
                    <a class="nav-link text-dark w-auto m-1" href="/Restaurant/restaurant_detail/@r.Id" style="text-decoration:none;color:black"><button class="btn btn-dark">Detail</button></a>
                </div>
            </div>
        </div>
    }

</div>
