@model List<Restaurant>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var r in Model){
        <div class="col-sm-3 p-3" >
            <div class="card align-content-around" style="height: 400px;">
                <img class="card-img-top" src=@r.image alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@r.Name</h5>
                    <a href="/Restaurant/restaurant_detail/@r.Id"><button class="btn btn-primary"> Detail</button> </a>
                </div>
            </div>
        </div>
    }

</div>
